@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {
    width: 154.03px;
}

.image-div {
    border: 2px solid #CFC9C9;
    border-bottom: 1px solid #E5E5E5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading {
    color: #707C96;
    text-align: center;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Nunito Sans";
}

.table-bg {
    color: #707C96;
    font-size: 14px;
    font-family: "Nunito Sans";
    font-weight: bold;
    background-color: #F2F2F6;
}

.span-el {
    color: #110B3F;
    font-size: 14px;
    font-weight: SemiBold;
    font-family: "Nunito Sans";
    text-decoration: underline;
    border: #B5B5CB;
}

.specifications-row1 {
    color: #707C96;
    font-size: 14px;
    font-weight: SemiBold;
    font-family: "Nunito Sans";
    text-decoration: none;

}

.button {
    width: 80px;
    height: 36px;
    background-color: #FFFFFF;
    border-color: #3D3DEF;
    color: #3D3DEF;
    font-size: 14px;
    font-family: "Nunito Sans";
    font-weight: bold;
}



.yes-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.no-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.border-line {
    border-bottom: 1px solid #d0d0e5;
}

.submit-btn {
    width: 200px;
    height: 45px;
    background-color: #3D3DEF;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: "Nunito Sans";
    font-weight: bold;
}